.books{
  margin-top: 100px;
}
.book{
  margin: 10px;
  height: 250px;
  width: 200px;
  border: solid 1px black;
  word-break: break-all;
}
.book-title {
  font-size: x-large;
  margin-bottom: 5px;
  max-width: 20;
}

.book-author {
  font-size: medium;
  margin-bottom: 20px;
}

