<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="books.js"></script>
  <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="books.css" type="text/css" />
  <title>Bookshelf</title>
</head>

<body ng-app ng-style="{background: 'url(http://upload.wikimedia.org/wikipedia/commons/e/ec/Bookshelf_Prunksaal_OeNB_Vienna_AT_matl00786ch.jpg)'}">
<div class="container">
  <h1>Angular Bookshelf</h1>
  <div ng-controller="BookShelf">
    <form ng-submit="addBook()">
      <input type="text" ng-model="newBook.title" placeholder="title" ng-style="taco"></br>
      <input type="text" ng-model="newBook.author" placeholder="author"></br>
      <input type="text" ng-model="newBook.ISBN" placeholder="ISBN"></br>
  <textarea ng-model="newBook.description" placeholder="description"></textarea></br>
      <br><button>Add Book</button>

    </form>
    
    <div ng-repeat="book in books" ng-style="">
      <ul class="book">
      <h3><li class="book-title">Title: {{book.title}}</li></h3>
          <li class="book-author">Author: {{book.author}}
          <li>Description: {{book.description}}</li>
          <li>ISBN# {{book.ISBN}}</li>
          <br><button ng-click="remove()">Delete</button><br>
      </h3>
    </ul>
    </div>
  </div>
</div>
</body>
</html>
